/* table debug */

.data {
  background-color: #FF3300;
  table {
    background-color: #FF6600; }
  tr {
    background-color: #FF9900; }
  th {
    background-color: #FFCC00; }
  td {
    background-color: #FFFF00; } }
