@mixin oocss-media_debug{
.media {
  .img {
    img {
      background-color: rgba(195, 0, 38, 0.3); }
    background-color: rgba(195, 0, 38, 0.3); }
  .imgExt, .bd {
    background-color: rgba(195, 0, 38, 0.3); }
  background-color: rgba(195, 0, 38, 0.3); }
}
