/* libraries , it includes reset and fonts
it reset block element's margin and padding to zero, table's border-collapse to collapse
border-spacing 0, image/fieldset border to 0; reset some special tag's font-style and font-weight
to normal, list element have no heading , caption, and th to left, reset h1-h6 to font-size:100%
and font-wegiht to normal, reset input, textarea, select font-size to normal text

the fonts try to normalize back the font
*/
@import "libraries";
@include "oocss-core";

/*template.css is for page level layout purpose*/
/*if I could, I would rename it to layout.css*/
@import "template/template";
@include "oocss-core";

/*@import url("template/template_debug.css");*/

/*grid is for horizontal partition */
@import "grid/grids";
@include "oocss-core";

/*@import url("grid/grids_debug.css");*/

/*module is highly reusable pattern to host content, it act as
content container
*/
@import "module/mod";
@include "oocss-core";

@import "module/mod_skins";
@include "oocss-core";

/*@import url("module/mod_debug.css");*/

/*media is for repeatable pattern, left is a image, right is text*/
@import "media/media";
@include "oocss-core";

/*@import url("media/media_debug.css");*/

/*the following is all about content*/

/*content is for frequently used element, such as body, img, em, strong, hr, link, code,
.important a,  a:lvha(link(unvisisted), visited, hover, active, ol.simpleList, cite, .callout,  )
if we want to change style, we should change it there
*/
@import "content";
@include "oocss-core";

/*heading is was part of content.css, not separated to a file, it control the heading's font and color
but the space of heading is not specified in this file, but in the space.css*/
@import "heading/heading";
@include "oocss-core";

/*normal element's space, such as h1-h6, ul, ol, dl, p, blockquote, media,.., it also
include some helper classes, such as ptn, meaning padding top none,
p:padding, m:margine
a:all, t:top, r:right, b:bottom, l:left, h:horizontal, v:vertical
s:small, m:medium, l:large, n:none
*/
@import "spacing/space";
@include "oocss-core";

@import "position/position";
@include "oocss-core";

@import "table/table";
@include "oocss-core";

@import "table/table_skins";
@include "oocss-core";

/*@import url("table/table_debug.css");*/
@import "form/form";
@include "oocss-core";
